[Desktop Entry]
# Exec must be a full path for the executable  
Exec=/usr/local/bin/plug_editor_launch %u
Type=Application
Name=Plug-Edit Handler
GenericName=Launch Text Editor
Comment=Open file in editor at specific line
Terminal=false
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
MimeType=x-scheme-handler/plug-edit;
NoDisplay=true
